body{
    background-color: #DAFFEF;
}

.sidenav {
    height: 50%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 12vh; /* Stay at the top */
    left: 0;
    background-color: #C0FDFB; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    height: 70vh;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .barras{
    position: absolute;
    top: 12vh;
    font-size: 1.5vw;
    left: 1%;
  }
  header{
    background-color: #64B6AC;
    font-size: 1.5vw;
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size-adjust: auto ;
    color: #FCFFFD;
  }

  .imag{
    position: relative;
    width: 50%;
    height: 65vh;
    left: 10%;
    opacity: 0.4;
    top: 20vh;
    left: 25%;
  }

  .imag img{
    width: 100%;
    height: 100%;
  }



  .php{
    font-size: 1.2vw;
    font-size-adjust: auto ;
    color: #000000;
    position: absolute;
    bottom: 60vh;
    left: 30%;
    width: 50%;
    color: #000000;
  background-color: rgba(0, 0, 0, 0.199);
  padding: 5px 13px;
  border-radius: 14px;
  }

  .java{
    font-size: 1.2vw;
    font-size-adjust: auto ;
    color: #000000;
    position: absolute;
    bottom: 57vh;
    left: 30%;
    width: 50%;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 5px 13px;
    border-radius: 14px;

  } 
  .ruby{
    font-size: 1.2vw;
    font-size-adjust: auto ;
    color: #000000;
    position: absolute;
    bottom: 54vh;
    left: 30%;
    width: 50%;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 5px 13px;
    border-radius: 14px;

  }
  .cmais{
    font-size: 1.2vw;
    font-size-adjust: auto ;
    color: #000000;
    position: absolute;
    bottom: 51vh;
    left: 30%;
    width: 50%;
    color: #000000;
  background-color: rgba(0, 0, 0, 0.199);
  padding: 5px 13px;
  border-radius: 14px;

  }
  .Ccharp{
    font-size: 1.2vw;
    font-size-adjust: auto ;
    color: #000000;
    position: absolute;
    bottom: 48vh;
    left: 30%;
    width: 50%;
    color: #000000;
  background-color: rgba(0, 0, 0, 0.199);
  padding: 5px 13px;
  border-radius: 14px;

  }

  .conteudo{
    position: relative;
    width: 75%;
    left: 5%;
    height: 20vh;
  }

  .js, .php, .java, .ruby, .cmais, .Ccharp{
    position: relative;
  }


